.col {
width: 33%;
}

.sevices-main .service-item {
display: list-item;
list-style-type: none;
list-style-image: none;
line-height: 1.8;
}

.service-item {
}

.service-item .glyphicon {
}

.service-item .service-text {
margin-left: 5px;
}