{% extends "base.html" %}

{% block content %}
<h1>API</h1>
	<p>Для сторонних разработчиков мы можем предоставить API.
	На данный момент он слабо документирован и поэтому непубличен.
	Если вы заинтересованы в соотрудничестве как разработчик - <a href="/contacts">напишите нам</a> на
	и мы предоставим всю имеющуюся у нас документацию.</p>
	</p>
{% endblock %}