<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
    <title>{% block title %}{% endblock %}</title>
    
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script type="text/javascript" src="js/jquery-latest.min.js"></script>
	<script type="text/javascript" src="bootstrap3/dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="bootstrap3/dist/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="bootstrap3/dist/general.css" type="text/css">
	<link rel="stylesheet" href="css/main.css" type="text/css">
	<meta name="keywords" content="Проект, стартап, Опека, телемедицина, тревожная кнопка, дистанционный сухой съем ЭКГ, сигнализация падений, Ростов-на-Дону, Градиент, Тест" />
</head>

<body>

<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
	<div class="container">
	    <div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a href="../" class="navbar-brand">Главная</a>
	    </div>
	    
		<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
			<ul class="nav navbar-nav">
				{% for item in navigation %}
				<li><a href="{{ item.href }}">{{ item.caption }}</a></li>
				{% endfor %}
			</ul>
		</nav>
	    
	    
		
	</div>
</header>



<div class="bs-header" id="content">
	<div class="container" style="margin-top:30px;">
		<a href="/index.php"><img src="../img/logo.jpg"></a>
	</div>
</div>

<div class="container">
    {% block content %}
    {% endblock %}
</div>


<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter22878400 = new Ya.Metrika({id:22878400,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/22878400" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->



</body>
</html>
