{% extends "base.html" %}

{% block content %}
	<h1>Контакты</h1>
	<h3>ООО НПП "Тест"</h3>
		<h4>Радиотехника и специальные технологии</h4>
		<p>г.Ростов-на-Дону, 344010<br />
		проспект Соколова, 96<br />
		Тел. (863) 234-99-00<br />
		Факс (863) 234-88-33<br />
		E-mail: testkarpov@mail.ru<br/>
		Контактное лицо:
		Карпов Евгений Анатольевич,
		генеральный директор
		
	<h4>Реквизиты</h4>
	<p>ИНН: 6166008365<br>
	ЕГРЮЛ (ОГРН): 1026103168519<br>
	КПП: 616301001<br>
	ОКПО: 40516110</p>
					
	<h4>ОКВЭД</h4>
	<ul>
		<li>73.10 "Научные исследования и разработки в области естественных и технических наук"</li>
		<li>72.20 Разработка программного обеспечения и консультирование в этой области</li>
		<li>72.50 Техническое обслуживание и ремонт офисных машин и вычислительной техники</li>
		<li>45.31 Производство электромонтажных работ</li>
		<li>51.15.4 Деятельность агентов по оптовой торговле радио и телеаппаратурой, тех. носителями информации</li>
		<li>51.18.2 Деятельность агентов, специализирующихся на оптовой торговле товарами, не включенными в другие группировки</li>
	</ul>
	
	<p>р/c № 40702810852000100941 в ЮГО-западном банке Сбербанка России</p>
{% endblock %}