{% extends "base.html" %}

{% block content %}


<div class="col-md-8 col-md-offset-1">

<h2>Дилеры в регионах</h2>

<h3>Уральский федеральный округ</h3>

ООО "ГригИнвест"<br>
Официальный дилер<br>
Контактное лицо: Григорьева Анастасия Сергеевна, генеральный директор<br>
454000, г.Челябинск, ул. Академика Королева, д.5<br>
тел: +7 (951) 789-31-48, +7 (919) 118-46-98<br>
e-mail: griginvest@gmail.com<br>
 
<h3>Северо-западный федеральный округ</h3>

<a href="http://industry60plus.ru/">Объединение компаний индустрии услуг старшему поколению</a><br>
Контактное лицо: Бондаренко Тамара Викторовна, исполнительный директор<br>
г. Санкт-Петербург, наб.р.Мойки, д. 48,  лит.А<br>
industry60plus@gmail.com<br>

</div>

{% endblock %}