{% extends "base.html" %}

{% block content %}


<h1>В разработке</h1>

<h2>Ближайшее время</h2>

<h3>Добавление сервиса «суточная активность» во всю линейку социально-медицинских браслетов.</h3>

<p>С введением этого сервиса у опекуна (или Call-центра) появляется возможность получить в любой момент времени 
информацию о уровне суточной активности абонента за предыдущие дни или текущий момент, разбитую по часам. 
Будет иметься возможность также настроить автоматическую посылку данных о активности опекуну или Call центру 
при выходе показателей активности за пределы установленных значений (за установленные минимумы).</p>

<p>Такой сервис позволит дистанционно наблюдать за уровнем активности абонента и оперативно среагировать на угасание 
жизнедеятельности или наоборот проконтролировать выздоровление.</p>

<h3>Разработка новой линейки браслетов / датчиков с использованием радиоканала ближнего радиуса действия на основе BLUETOOTH 4.0</h3>

<p>У социально-медицинского браслета к функционалу базового браслета добавится функционал 
приема/передачи информации с распределенных по телу датчиков (нательные устройства) с 
радиоканалом на основе BLUETOOTH 4.0.</p>

<p>Такой функционал позволит проводить 24 часовой мониторинг ЧСС, ЭКГ по однополюсным грудным отведениям V1-V6 
или по любой другой точке тела. Полученная  информация с распределенных датчиков может быть передана по 
BLUETOOTH 4.0 на наручный браслет (и далее в Сall-центр по радиоканалу на основе GPRS) или на cмартфон с модулем BLUETOOTH 4.0. </p>

<h2>В перпективе</h2>

<h3>Измерение проводимости кожи (возможность детектировать засыпание и состояние стресса)</h3>
<h3>Измерение артериального давления безманжетным способом на запястье руки.</h3> 

{% endblock %}