{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
    <p>Программно-аппаратный комплекс "Опека" – это  совокупность портативных носимых абонентских  устройств (наручных браслетов или нательных устройств) 
	и центров круглосуточного оперативного мониторинга (или мобильных телефонов опекунов) 
	для дистанционного оказания социально-медицинских услуг для  пожилых, малоподвижных или одиноко живущих людей.</p>
     
	<p>Проект является пионером в области браслетной телемедицины российской разработки, 
	интегрируя на единой программно-аппаратной  основе инновационные достижения в информационных,  
	электронных и биосенсорных технологиях.	</p>

	<p>!!!! НОВИНКА – «ОПЕКА-04» - НАТЕЛЬНЫЙ МОБИЛЬНЫЙ КОМПЛЕКС КРУГЛОСУТОЧНОГО ДИСТАНЦИОННОГО МОНИТОРИНГА ФИЗИОЛОГИЧЕСКИХ ПАРАМЕТРОВ (BLUETOOTH 4.0 / GPRS) <a href="op4">>>></a></p>

</div>



	<div class="col-md-4">
		<img src="img/1_black.jpg" width="250px">
		<img src="img/3.jpg" width="250px">
		<img src="img/1.jpg" width="250px">
		<img src="img/4c.jpg" width="250px">
	</div>

	<div class="col-md-8">
		<h2>Область применения:</h2>
		<ol> 
		<li>Индивидуальные устройства для пожилых людей и людей с ограниченными физическими возможностями. </li>
		<li>Стационарные лечебные и лечебно-профилактические учреждения.</li>
		<li>Системы безопасности, патрулирования, предупреждения аварийных ситуаций</li>
		<li>Cистемы дистанционного контроля за малолетними детьми.</li>
		<li>Системы контроля функционального состояния спортсменов.</li>
		</ol>

		<p>Абонентские устройства (социально-медицинские радиокоммуникационные браслеты)
		выполнены в форм-факторе наручного браслета. Все варианты абонентских устройств приведены на странице <a href="/products">продукты</a></p>

		<p>Наши наручные браслеты - это ваш неразлучный ежедневный помощник, с которым 24 часа в сутки Вам готовы прийти на помощь Ваши близкие или 
		специализированные медицинские учреждения в случаях недомогания или в различных критических ситуациях.</p>

		<p>В отличие от классического сотового телефона Ваш браслет никогда не потеряется и будет при Вас, 
		а для вызова помощи достаточно нажать одну кнопку. 
		Кроме того, используемая громкая голосовая связь не требует необходимости прикладывать браслет к уху,
		что может оказаться особенно важным при внезапном падении пожилых людей</p>

		<h2>Предоставляемые сервисы</h2> 

		<ul class="sevices-main">
			<span class="service-item"><span class="glyphicon glyphicon-check"></span><span class="service-text"> Двусторонняя громкая связь (GSM)</span></span>
			<span class="service-item"><span class="glyphicon glyphicon-check"></span><span class="service-text"> Тревожная кнопка</span></span>
			<span class="service-item"><span class="glyphicon glyphicon-check"></span><span class="service-text"> Передача данных в Call центр или опекуну</span></span>
			<span class="service-item"><span class="glyphicon glyphicon-check"></span><span class="service-text"> Сухое измерение ЧСС, а также снятие и передача ЭКГ первого отведения без проводов</span>
			<span class="service-item"><span class="glyphicon glyphicon-check"></span><span class="service-text"> Cнятие ЭКГ лишь приложением пальца или ладони к браслету</span></span>
			<span class="service-item"><span class="glyphicon glyphicon-check"></span><span class="service-text">Определение местоположения с помощью GPS или с помощью технологии LBS - 
			по базовым станциям сотового оператора</span></span>
			<span class="service-item"><span class="glyphicon glyphicon-check"></span><span class="service-text"> Сигнализация о факте падения</span></span>
			<span class="service-item"><span class="glyphicon glyphicon-check"></span><span class="service-text"> Встроенное голосовое оповещение и подсказки 
			(удобство пользования людьми со слабым зрением или незрячими)</span></span>
			<span class="service-item"><span class="glyphicon glyphicon-check"></span><span class="service-text"> Длительное время работы</span></span>
			<span class="service-item"><span class="glyphicon glyphicon-check"></span><span class="service-text"> Простота (удобство пользование пожилыми людьми)</span></span>
			<span class="service-item"><span class="glyphicon glyphicon-check"></span><span class="service-text"> Адресное командное голосовое, вибрационное и световое 
			оповещение абонентов из Call-центра о наступлении чрезвычайных ситуаций (пожар, потоп и др).</span></span>
			<span class="service-item"><span class="glyphicon glyphicon-check"></span><span class="service-text"> Ведение базы данных с индивидуальной  информацией  о пациентах - 
		карточка пациента (электронная регистратура). Возможность отображения на мониторе Сall-центра фотографии пациента, его истории болезни, 
		результатов предыдущих обращений, адреса абонента, принятой телеметрии.</span></span>
		</ul>

		<h2>Варианты передачи информации комплекса</h2>

		<p>В упрощенном варианте комплекс Опека может быть построен только с использованием двусторонней громкой связи и 
		передачей данных в виде SMS (данные о падении, данные о местоположении).</p>

		<img src="img/part1_voice+sms.jpg" width="600px"><br>
		<script src='//yandex.st/disk/api/0.1.1/widgets.min.js'></script><div class="dw dw-s dw-s_i_xs"><div class="dw-h dw-h_xs"><img class="dw-f dw-f_xs" src="//yandex.st/disk/api/0.1.1/icons/file_jpg-32.png"/> <a class="dw-l" target="_blank" title="схема работы комплекса Опека_голос.jpg" href="http://yadi.sk/d/rcBYAGwECTRio">Схема голос+SMS Опека</a></div><a class="dw-b dw-b_blue dw-b_xs" title="Сохранить на Яндекс.Диск" data-disk-hash="X2W5Ax+1uV88HurpRrQsrqQw9lQwycOC3/BKMHarPrc=" data-disk-widget="saveToDisk" href="http://yadi.sk/d/rcBYAGwECTRio"><span class="dw-b__t dw-b__t_b"><i class="dw-i"></i>Сохранить на Яндекс.Диск</span></a></div>

		<p>На схеме ниже приведена часть схемы передачи информации с использованием только облачных технологий.</p>

		<img src="img/part2_data.jpg" width="600px"><br>
		<script src='//yandex.st/disk/api/0.1.1/widgets.min.js'></script><div class="dw dw-s dw-s_i_xs"><div class="dw-h dw-h_xs"><img class="dw-f dw-f_xs" src="//yandex.st/disk/api/0.1.1/icons/file_jpg-32.png"/> <a class="dw-l" target="_blank" title="схема работы комплекса Опека_данные.jpg" href="http://yadi.sk/d/XMKNJ1EGCTSRK">Схема облако Опека</a></div><a class="dw-b dw-b_blue dw-b_xs" title="Сохранить на Яндекс.Диск" data-disk-hash="gIQh8CDZa4NeArHuVzvdLIrqgIAalN7FZCjmmfhr7dc=" data-disk-widget="saveToDisk" href="http://yadi.sk/d/XMKNJ1EGCTSRK"><span class="dw-b__t dw-b__t_b"><i class="dw-i"></i>Сохранить на Яндекс.Диск</span></a></div>

		<p>В полнофункциональном варианте комплекса Опека первый и второй варианты построения полностью совмещены.</p>

		<p>Вариант передачи информации с использованием комплекса Опека-04. "Опека-04" - мобильный
		комплекс круглосуточного дистанционного мониторинга физиологических параметров</p>
		<img src="op4_banner.jpg" width="600px"><br>


		<h2>Особенность применения</h2> 

		<p>в социально-медицинских радиокоммуникационных браслетах используются твердотельные sim-чипы вместо традиционных sim-карт, 
		что повышает надежность и эксплуатационные возможности устройств. 
		Поэтому для регистрации sim-чипа вам необходимо обратиться с паспортом в офис сотового провайдера для официального оформления договора с Вами, 
		как с физическим лицом.</p>



		<h2>Уникальность проекта</h2>

		<ul>
		<li>внедрение принципиально новых медицинских услуг, направленных на сохранение жизни человека, особенно востребованных для пожилых людей и людей с ограниченными возможностями;</li>
		<li>создание инновационных устройств, не имеющих по ряду параметров аналогов на отечественном  и зарубежном рынке;</li>
		<li>комплексный подход для обеспечения эффективной работы связки «удаленный пациент – диспетчерский центр мониторинга – удаленный врач»;</li>
		<li>комплексное использование самых передовых достижений в области информационных,  электронных и сенсорных технологий;</li>
		<li>инновационные решения в области кардиодиагностики, отсутствующие на Российском рынке;</li>
		</ul>


		<h2>Главные проблемы потребителей медицинских услуг</h2>

		<ul>
		<li>отсутствие системы эффективного предупреждения и раннего выявления отклонений в состоянии здоровья пожилых людей;</li>
		<li>высокая себестоимость медицинских услуг и большая продолжительность их исполнения;</li>
		<li>необходимость посещения лечебных учреждений, что является затруднительным или неудобным  для пожилых людей и людей с ограниченными возможностями, 
		особенно в плохую погоду или при удаленности места проживания;</li>
		<li>внезапность наступления критических состояний в т.ч вне дома, например в  пути следования.</li>
		</ul>

		<h2>Конкурентные преимущества</h2>

		<ul>
		<li>отсутствие на российском рынке отечественных разработок аналогичного назначения;</li>
		<li>учет артефактов, связанных с жизнедеятельностью людей;</li>
		<li>полный функционал устройства не имеет зарубежных аналогов;</li>
		<li>комплексное сочетание в одном наручном портативном устройстве коммуникационной технологии дальней двухсторонней голосовой связи 
		с опекуном и системы телеметрии с использованием инновационных биосенсорных датчиков для контроля физического состояния;</li>
		<li>удобство и простота пользования для пожилых людей, исключающая необходимость в дополнительном использовании 
		дорогостоящих и сложных для пожилых людей устройств (смартфонов, планшетов и т.д);</li>
		<li>постоянная работы команды разработчиков над дальнейшим совершенствованием устройств, в том числе в направлении расширения функциональных возможностей.</li>
		</ul>
		
		<div class="alert alert-warning">
			<p>This is beta preview of site. If you like it please contacts admin pavel@fablab61.ru
			for merge with master branch.</p>
			
			<p>
				This paragraph can be used for testing deploy system.<br>
				You can put here any text u want.<br>
				Test 1. Add 777 for /dev/null.<br>
				Test 2. Everything must be OK.<br>
				wetere<br>
				branch test<br>
						
			</p>
		</div>

</div>


{% endblock %}
