{% extends "base.html" %}

{% block content %}

<div class="col-md-8 col-md-offset-1">

<h3>Опека-03</h3>

<img src="../img/3.jpg" width="350px">
<img src="../img/3_back.jpg" width="420px">

<h2>Функционал.</h2>

<ul>
<li>двусторонняя громкая связь (GSM)</li>
<li>тревожная кнопка</li>
<li>передача данных в call-центр или опекуну</li>
<li>определение местоположения по LBS</li>
<li>обнаружение и сигнализация падения</li>
<li>встроенное голосовое оповещение и подсказки (удобство пользование людьми со слабым зрением)</li>
<li>длительное время работы</li>
<li>Адресное командное голосовое, вибрационное и световое оповещение абонентов из Call-центра о наступлении чрезвычайных ситуаций (пожар, потоп и др)</li>
<li>Сухое измерение ЧСС, снятие и передача на сервер ЭКГ первого отведения без проводов</li>
<li>Cнятие ЭКГ приложением пальца или ладони</li>
</ul>

<h2>Описание</h2>

<p>Браслет выполнен в форм-факторе наручного браслета, в который встроен GSM/GPRS модем, 
датчики ЭКГ, динамик, микрофон, вибратор и датчик падения (акселерометр).</p>

<p>Наследуя всю функциональность от базовой версии браслета 
(социально-медицинского радиокоммуникационного браслета Опека-01), 
в браслет Опека-03 добавлена функция сухого измерения ЧСС, снятие ЭКГ первого отведения.</p>  

<p>Для получения полноценной ЭКГ первого отведения достаточно удерживать палец на датчике, 
расположенном на лицевой поверхности браслета (при браслете, одетом на руку).</p>

<p>При детектировании сигнала ЭКГ в такт удару сердца будет светиться светодиод на лицевой поверхности 
браслета. Измеренное значение  ЧСС будет воспроизведено динамиком браслета в виде голосового сообщения.</p> 

<p>Параллельно в память браслета будет записываться ЭКГ сигнал, который потом будет передан по 
GPRS на сервер комплекса Опека.</p> 

<p>Частота оцифровки: – 500 Гц.<br>
Частотная характеристика: от 0.05 Гц до 150 Гц<br>
Емкость встроенной памяти для хранения ЭКГ: 10 минут.</p>

<p>При нахождении браслета в режиме ожидания браслет может принимать входящие звонки, 
а также формировать исходящие звонки по нажатию кнопки SOS или по срабатыванию датчика падения.</p>

<p>Это ваш неразлучный ежедневный помощник, с которым 24 часа в сутки Вам готовы прийти на помощь 
Ваши близкие или специализированные медицинские учреждения в случаях недомогания или в 
различных критических ситуациях.</p> 

<p>В отличие от классического сотового телефона Ваш браслет никогда не потеряется и будет при Вас, 
а для вызова помощи достаточно нажать одну кнопку. Кроме того, используемая громкая голосовая 
связь не требует необходимости прикладывать браслет к уху.</p>

<p>На кнопку SOS можно назначить любой номер сотового или стационарного телефона.</p>
 
<p>Кроме кнопки SOS имеется еще 2 дополнительных кнопки, размещенных на тыльной стороне браслета, 
на которые также же можно назначить дополнительные номера дозвона.</p>

<p>Помимо вибратора и светодиодной индикации состояний браслета предусмотрены встроенные 
голосовые подсказки, что позволяет  пользоваться браслетом пожилыми людьми/людьми со слабым зрением.</p>
 
<p>Через программное обеспечение диспетчерского комплекса Опека или через WEB интерфейс 
сотового провайдера возможно получение координат местоположения браслетов на основе технологии LBS - 
по базовым станциям сотового оператора.</p> 

<p>На данный момент, используя технологии, примененные в браслете Опека-03  разрабатывается 
новая линейка браслетов / датчиков с использованием радиоканала ближнего радиуса действия на основе BLUETOOTH 4.0</p>

<p>У социально-медицинского браслета к функционалу базового браслета добавится функционал приема/передачи 
информации с распределенных по телу датчиков с радиоканалом на основе BLUETOOTH 4.0.</p>

<p>Такой функционал позволит проводить 24часовой мониторинг ЧСС, ЭКГ по однополюсным грудным отведениям 
V1-V6 или по любой другой точке тела.</p> 

<p>Полученная  информация с распределенных датчиков может быть передана по BLUETOOTH 4.0 на 
наручный браслет (и далее в Сall-центр по радиоканалу на основе GPRS) или на cмартфон с модулем BLUETOOTH 4.0.</p> 

<img src="../img/3_measure.jpg" width="700px">

<div style="margin-top:30px;"></div>

<img src="../img/3_ecg_gprs.jpg" width="700px">

<div style="margin-top:30px;"></div>

<h2>Скачать материалы</h2>

<img src="../img/op1.jpg" width="350px">
<script src='//yandex.st/disk/api/0.1.1/widgets.min.js'></script><div class="dw dw-s dw-s_i_m"><img class="dw-f" src="//yandex.st/disk/api/0.1.1/icons/file_jpg-96.png"/> <div class="dw-a"><div class="dw-h"><a class="dw-l" target="_blank" title="опека флайер экг прототип_myfix_2.jpg" href="http://yadi.sk/d/gTmrwmIcCU4JR">опека экг прот…п флайер</a></div><a class="dw-b dw-b_blue" title="Сохранить на Яндекс.Диск" data-disk-hash="ce6z/kopUevg+EagqQXwKsZLOeIWZKkO/V0llOhQ0ZI=" data-disk-widget="saveToDisk" href="http://yadi.sk/d/gTmrwmIcCU4JR"><span class="dw-b__t dw-b__t_b"><i class="dw-i"></i>Сохранить на Яндекс.Диск</span></a></div></div>

</div>

{% endblock %}
