{% extends "base.html" %}

{% block content %}

<div class="col-md-8 col-md-offset-1">

<h1>Опека-01</h1>

<img src="../img/1_black.jpg" width="350px">

<h2>Функционал</h2>
<ul>
<li>двусторонняя громкая связь (GSM)</li>
<li>тревожная кнопка</li>
<li>передача данных в call-центр или опекуну</li>
<li>определение местоположения по LBS</li>
<li>обнаружение и сигнализация падения</li>
<li>встроенное голосовое оповещение и подсказки (удобство пользование людьми со слабым зрением)</li>
<li>длительное время работы</li>
<li>Адресное командное голосовое, вибрационное и световое оповещение абонентов из Call-центра о наступлении чрезвычайных ситуаций (пожар, потоп и др)</li>
</ul>

<h2>Описание</h2>

<p>Браслет выполнен в форм-факторе наручного браслета, в который встроен 
GSM/GPRS модем, динамик, микрофон, вибратор и датчик падения (акселерометр).</p>

<p>При нахождении браслета в режиме ожидания браслет может принимать входящие звонки, 
а также формировать исходящие звонки по нажатию кнопки SOS или по срабатыванию датчика падения.</p>

<p>Это ваш неразлучный ежедневный помощник, с которым 24 часа в сутки Вам готовы прийти на помощь 
Ваши близкие или специализированные медицинские учреждения в случаях недомогания или 
в различных критических ситуациях. </p>

<p>В отличие от классического сотового телефона Ваш браслет никогда не потеряется и будет при Вас, 
а для вызова помощи достаточно нажать одну кнопку. Кроме того, используемая громкая голосовая связь 
не требует необходимости прикладывать браслет к уху. </p>

<p>На кнопку SOS можно назначить любой номер сотового или стационарного телефона. 
Кроме кнопки SOS имеется еще 2 дополнительных кнопки, размещенных на тыльной стороне браслета, 
на которые также же можно назначить дополнительные номера дозвона.</p>

<p>Помимо вибратора и светодиодной индикации состояний браслета предусмотрены встроенные голосовые подсказки, 
что позволяет  пользоваться браслетом пожилыми людьми/людьми со слабым зрением. </p>

<p>При включении браслета он постоянно начинает производить запись активности пользователя.
 Данные об активности автоматически передаются в облако, где доступны как медучреждениям, там и любым частным 
авторизованным пользователям. 
<p>Мониторинг активности позволяет оперативно среагировать на угасание жизнедеятельности или наоборот проконтролировать
 выздоровление. Также мониторинг активности можно использовать для оценки качества сна. </p>

<p>По нажатию боковой кнопки воспроизводится голосовое сообщение текущего времени. Данные о времени предоставляются сервером. </p>

<p>Через программное обеспечение диспетчерского комплекса Опека или через WEB интерфейс сотового провайдера возможно
 получение координат местоположения браслетов на основе технологии LBS - по базовым станциям сотового оператора. </p>


<br><br>

<h2>Скачать материалы</h2>

<img src="../img/op1.jpg" width="350px">

<script src='//yandex.st/disk/api/0.1.1/widgets.min.js'></script><div class="dw dw-s dw-s_i_m"><img class="dw-f" src="//yandex.st/disk/api/0.1.1/icons/file_jpg-96.png"/> <div class="dw-a"><div class="dw-h"><a class="dw-l" target="_blank" title="упаковка_верх.jpg" href="http://yadi.sk/d/ZXzyB8Z9CU43N">Опека-01 флайер</a></div><a class="dw-b dw-b_blue" title="Сохранить на Яндекс.Диск" data-disk-hash="sKrh2ny8KFWHb8Cgk1dUmMz3QQvIkzrkfthdhLIOTEM=" data-disk-widget="saveToDisk" href="http://yadi.sk/d/ZXzyB8Z9CU43N"><span class="dw-b__t dw-b__t_b"><i class="dw-i"></i>Сохранить на Яндекс.Диск</span></a></div></div>


</div>

{% endblock %}