{% extends "base.html" %}

{% block content %}

<div class="col-md-10 col-md-offset-1">

<h1>«ОПЕКА-04»  - МОБИЛЬНЫЙ КОМПЛЕКС КРУГЛОСУТОЧНОГО ДИСТАНЦИОННОГО МОНИТОРИНГА ФИЗИОЛОГИЧЕСКИХ ПАРАМЕТРОВ</h1>
	
<p>Комплекс «ОПЕКА-04» состоит из двух устройств: социально-медицинского нательного модуля «ОПЕКА-04 С» (нательного модуля со всеми встроенными датчиками) и социально-медицинского радиокоммуникационного браслета «ОПЕКА-04» (наручный Bluetooth 4.0 / GPRS шлюз).</p>

<div><img src="img/op04_banner.jpg" width="400px"></div>


<h2>СОЦИАЛЬНО – МЕДИЦИНСКИЙ НАТЕЛЬНЫЙ МОДУЛЬ «ОПЕКА-04 С»</h2>


<div class="row">
	<div class="col-md-7">
		Предоставляемые сервисы:	
		<ul>
		<li>Круглосуточный мониторинг параметров</li>
		<li>BLUETOOTH 4.0 радиоканал</li>
		<li>Снятие параметров без проводов:</li>

			<ul>
			<li>Cухое снятие ЧСС, ЭКГ</li>
			<li>Частота дыхания</li>
			<li>Температура</li>
			<li>Проводимость кожи (уровень стресса, засыпание)</li>
			<li>Датчик падения и контроль положения тела</li>
			<li>Контроль уровня активности и сна</li>
			</ul>
		<li>Миниатюрные размеры</li>
		</ul>
	</div>
	<div class="col-md-7">
		<img src="img/4C.jpg" width="200px">
	</div>

</div>	



<h2>СОЦИАЛЬНО – МЕДИЦИНСКИЙ РАДИОКОММУНИКАЦИОННЫЙ МОДУЛЬ «ОПЕКА-04 С»</h2>

<div class="row">
	<div class="col-md-7">
		Предоставляемые сервисы:
		<ul>
		<li>Bluetooth 4.0 / GPRS шлюз</li>
		<li>Передача данных с нательного модуля Опека-04 С в «облако»</li>
		<li>Двусторонняя громкая связь (GSM)</li>
		<li>Тревожная кнопка</li>
		<li>Передача данных в Call центр или опекуну</li>
		<li>Определение местоположения (с помощью технологий LBS – по базовым станциям сотового оператора)</li>
		<li>Встроенное голосовое оповещение и подсказки (удобство пользование людьми со слабым зрением)</li>
		<li>Длительное время работы</li>
		<li>Простота (удобство пользование пожилыми людьми)</li>
		<li>Адресное командное голосовое, вибрационное и световое оповещение абонентов из Call-центра о 
		наступлении чрезвычайных ситуаций (пожар, потоп и др)</li>
		</ul>

		<p>Стадия: разработаны рабочие прототипы</p>

	</div>

	<div class="col-md-7">
		<img src="img/4.jpg" width="200px">
	</div>	

</div>


<p>Комплекс использует радиоканал ближнего радиуса действия на основе BLUETOOTH 4.0 и радиоканал дальнего радиуса на основе GPRS.
Новая линейка модулей позволяет  проводить круглосуточный мониторинг ЧСС, ЭКГ по однополюсным грудным отведениям V1-V6 или по любой другой точке тела, а также мониторинг проводимости кожи, температуры и частоты дыхания.</p>

<p>Что выделяет этот комплекс на фоне других, казалось бы, похожих нательных разработок?</p>

<p>Главная инновация заключается в том, что сухим способом, абсолютно без единого провода снимаются не только показания пульса, а и полноценная электрокарардиограмма, на основе которой можно получить информацию о состоянии сердца. Кроме того, бывает необходимо оценить, как ведет себя сердце не только в покое, но и во время деятельности человека.</p>

<p>Информация, снятая с нательного модуля «Опека-04 С», автоматически через Bluetooth-GPRS шлюз «Опека-04»  отправляется на сервер в «облако», к которому подключен медцентр и врачи кардиологи.</p>

<p>Это тоже новый подход, так как все предыдущие аналогичные зарубежные разработки для передачи данных с нательных датчиков  в облако использовали исключительно смартфоны с поддержкой Bluetooth 4.0, т.е в основном очень дорогостоящую продукцию фирмы Apple. 
В нашем варианте передача данных в облако осуществляется абсолютно автоматически, что очень важно для пожилых людей, которым не под силу, в том числе и финансово, работать с модными гаджетами наподобие IPHONE.</p>

<p>Помимо передачи данных в «облако» возможен прием данных непосредственно bluetooth приемником, подключенным к компьютеру. 
Аналогично данные могут передаваться и на смартфон с Bluetooth 4.0
Помимо датчиков ЭКГ в модуль интегрирован и акселерометр, что позволяет отслеживать падения, положение тела, осуществлять контроль активности и сна.</p>

</div>

{% endblock %}
