{% extends "base.html" %}

{% block content %}

<div class="col-md-8 col-md-offset-1">

<h2>Опека-02</h2>

<img src="../img/2.jpg" width="350px">

<h2>Функционал</h2>

<ul>
<li>двусторонняя громкая связь (GSM)</li>
<li>тревожная кнопка</li>
<li>передача данных в call-центр или опекуну</li>
<li>определение местоположения по GPS и LBS</li>
<li>обнаружение и сигнализация падения</li>
<li>встроенное голосовое оповещение и подсказки (удобство пользование людьми со слабым зрением)</li>
<li>длительное время работы</li>
<li>Адресное командное голосовое, вибрационное и световое оповещение абонентов из Call-центра о наступлении чрезвычайных ситуаций (пожар, потоп и др)</li>
</ul>

<h2>Описание</h2>

<p>Браслет выполнен в форм-факторе наручного браслета, в который встроен GSM/GPRS модем, GPS приемник, 
динамик, микрофон, вибратор и датчик падения (акселерометр).</p>

<p>Наследуя всю функциональность от базовой версии браслета 
(социально-медицинского радиокоммуникационного браслета Опека-01), 
в браслет Опека-02 добавлена функция определения местоположения по GPS, 
которая, в отличие от определения местоположения по LBS, дает большую точность 
и не зависит от количества базовых станций рядом с браслетом. </p> 

<p>По запросу от опекуна / Call центра включается GPS приемник. При получении координат местоположения 
они передаются по GPRS или SMS в Сall-центр или опекуну.</p>

<p>Через программное обеспечение диспетчерского комплекса Опека или через WEB интерфейс сотового 
провайдера возможно получение координат местоположения браслетов на основе технологии LBS - 
по базовым станциям сотового оператора.</p>

<p>Через программное обеспечение диспетчерского комплекса Опека или через WEB интерфейс сотового 
провайдера возможно также получение координат местоположения браслетов на основе LBS - по базовым 
станциям сотового оператора. </p>

<p>При нахождении браслета в режиме ожидания браслет может принимать входящие звонки, а также формировать 
исходящие звонки по нажатию кнопки SOS или по срабатыванию датчика падения.</p>
 
<p>Это ваш неразлучный ежедневный помощник, с которым 24 часа в сутки Вам готовы прийти на помощь Ваши близкие 
или специализированные медицинские учреждения в случаях недомогания или в различных критических ситуациях.</p>
 
<p>В отличие от классического сотового телефона Ваш браслет никогда не потеряется и будет при Вас, 
а для вызова помощи достаточно нажать одну кнопку. Кроме того, используемая громкая голосовая связь 
не требует необходимости прикладывать браслет к уху. </p>

<p>На кнопку SOS можно назначить любой номер сотового или стационарного телефона. 
Кроме кнопки SOS имеется еще 2 дополнительных кнопки, размещенных на тыльной стороне браслета, 
на которые также же можно назначить дополнительные номера дозвона. </p>

<p>Помимо вибратора и светодиодной индикации состояний браслета предусмотрены встроенные голосовые подсказки, 
что позволяет  пользоваться браслетом пожилыми людьми/людьми со слабым зрением.</p>
 
</div>

{% endblock %}
