{% extends "base.html" %}

{% block title %} Опека - продукты {% endblock %}

{% block content %}
<div class="well">СОЦИАЛЬНО – МЕДИЦИНСКИЕ РАДИОКОММУНИКАЦИОННЫЕ БРАСЛЕТЫ</div>
</div>

<div class="container">
	<div class="col-md-12">
		<table class="table table-hover table-bordered">
			<tr>
				<td class="col"><h2>ОПЕКА-1</h2><span class="label label-warning">базовый вариант</span></td>
				<td class="col"><h2>ОПЕКА-2</h2></td>
				<td class="col"><h2>ОПЕКА-3</h2></td></tr>
			<tr>
				<td><img src="../img/icons/sos75.png"><img src="../img/icons/phone75.png"><img src="../img/icons/fall75.png"><img src="../img/icons/cellid75.png"></td>
				<td><img src="../img/icons/sos75.png"><img src="../img/icons/phone75.png"><img src="../img/icons/fall75.png"><img src="../img/icons/cellid75.png"><img src="../img/icons/GPS75.png"></td>
				<td><img src="../img/icons/sos75.png"><img src="../img/icons/phone75.png"><img src="../img/icons/fall75.png"><img src="../img/icons/cellid75.png"><img src="../img/icons/ecg75.png"></td></tr>
			<tr>
				<td ><img class="center-block" src="../img/1_black.jpg" width="200px"></td>
				<td><img  class="center-block" src="../img/2.jpg" width="200px"></td>
				<td><img  class="center-block" src="../img/3.jpg" width="200px"></td>
			</tr>
			
			<tr align="center"><td colspan="3"><h3>Предоставляемые сервисы</h3></td></tr>
			<tr align="center"><td colspan="3">двусторонняя громкая связь (GSM)</td></tr>
			<tr align="center"><td colspan="3">тревожная кнопка</td></tr>
			<tr align="center"><td colspan="3">передача данных в call-центр или опекуну</td></tr>
			<tr>
				<td>определение местоположения <b>по <a style="cursor:help;" title="Location Based Services - в данном случае определение местоположения на основе информации о расположении базовых станций сетей сотовой связи">LBS</a></b></td>
				<td>определение местоположения <b>по GPS и <a style="cursor:help;" title="Location Based Services - в данном случае определение местоположения на основе информации о расположении базовых станций сетей сотовой связи">LBS</a></b></td>
				<td>определение местоположения <b>по <a style="cursor:help;" title="Location Based Services - в данном случае определение местоположения на основе информации о расположении базовых станций сетей сотовой связи">LBS</a></b></td>
			</tr>
			<tr align="center"><td colspan="3">обнаружение и сигнализация падения</td></tr>
			<tr align="center"><td colspan="3">встроенное голосовое оповещение и подсказки (удобство пользование людьми со слабым зрением)</td></tr>
			<tr align="center"><td colspan="3">длительное время работы</td></tr>
			<tr align="center"><td colspan="3">Адресное командное голосовое, вибрационное и световое оповещение 
			абонентов из Call-центра о наступлении чрезвычайных ситуаций (пожар, потоп и др)</td></tr>
			<tr align="center"><td></td><td></td><td>Сухое измерение <a style="cursor:help;" title="Частота сердечных сокращений">ЧСС</a>, снятие и передача на сервер ЭКГ первого отведения без проводов</td></tr>
			<tr align="center"><td></td><td></td><td>Cнятие ЭКГ приложением пальца или ладони</td></tr>
			<tr align="center">
				<td>Стадия: подготовка к серийному производству</td>
				<td>Стадия: подготовка к серийному производству</td>
				<td>Стадия: разработаны экспериментальные образцы, прорабатывается рынок сбыта и использование снятой ЭКГ в медицинских учреждениях</td>
			</tr>
		
			<tr>
			{% for item in links %}
			<td>
				<div class="pull-right">
					<a href="{{ item.href }}" class="btn btn-primary btn-sm">{{ item.caption }}</a>
				</div>
			</td>
			{% endfor %}
			</tr>

		</table>		


<div class="container" style="margin-top:30px;"></div>

<div class="well">МОДУЛИ ОПЕКА-4</div>
	<div class="col-md-12">
		<img src="img/4.JPG" width="200px">
		<img src="img/4c.jpg" width="200px">
	</div>

<a href="op4" class="btn btn-primary btn-sm">Подробнее об Опека-4</a>


<div class="container" style="margin-top:30px;"></div>


<div class="container">
	<div class="well">ДИСПЕТЧЕРСКИЙ КОММУНИКАЦИОННЫЙ МОДУЛЬ</div>
	<div class="col-md-12">
		
		<h2>ОПЕКА-5</h2>
		<img src="../img/5.jpg" width="200px">
		<h3>Предоставляемые сервисы</h3>
		<ul>
		<li>двусторонняя громкая связь (GSM) с 
		    медицинскими радиокоммуникационными
		    браслетами</li>
		<li>возможность подключения
		     внешней аудио гарнитуры 
		     (микрофон и  динамик)</li>
		<li>подключение к ПЭВМ через USB</li>
		<li>интегрирование с програмным 
		    обеспечением Сall-центра</li>
		</ul>

	</div>
</div>

<div class="container" style="margin-top:30px;"></div>

<div class="container">
	<div class="well">ПРОГРАМНОЕ ОБЕСПЕЧЕНИЕ CALL-ЦЕНТРА</div>
	<div class="col-md-12">
		
		<h2>ОПЕКА-клиент/сервер</h2>
		<img src="../img/0031.JPG" width="800px">
		<h3>Предоставляемые сервисы</h3>
		<ul>
	<li>web-сервис</li>
	<li>интеграция с диспетчерским 
	  коммуникационным модулем 
	  Опека-05 </li>
	<li>прием и хранение данных от социально-
	   медицинских радиокоммуникационных
	   браслетов</li>
	<li>ведение базы данных с индивидуальной 
	   информацией
	   о пациентах - карточка пациента
	  (электронная регистратура)</li>
	<li>автоматический вызов карточки 
	  пациента при входящем голосовом
	  звонке </li>
	<li>журнал событий</li>
	<li>отображение данных медицинской
	  телеметрии на каждого пациента</li>
	<li>отображение данных местоположения пациента
	  (GPS или LBS по базовым станциям 
	  сотового оператор)</li>

	</div>
{% endblock %}
