{% extends "base.html" %}

{% block content %}


<h1>СМИ о нас</h1>

				<iframe width="560" height="315" src="http://www.youtube.com/embed/HEqLPrJmSL0?rel=0" frameborder="0" allowfullscreen></iframe>
				<p>Цикл передач «Бизнес с высоким IQ» РБК</p>




<h2>Статьи</h2>
				<ul>
				<li><a href="http://www.cnews.ru/news/line/index.shtml?2012/09/20/503719">CNews - МТС установит SIM-чипы в телемедицинские браслеты</a></li>
				<li><a href="http://www.rnd.mts.ru/news/2012-09-21-1827975/">Новости компании МТС - SIM-чипы МТС установят в телемедицинские браслеты</a></li>
				<li><a href="http://www.m2mtelematika.ru/news/novosti-kompaniy/1301_telemedicinskij-braslet-razrabotan-uchenymi-iz-vnii-gradient-i-rostovskogo-npp-test/">M2M Телематика - Телемедицинский браслет разработан учеными из ВНИИ «Градиент» и ростовского НПП «Тест»</a></li>
				<li><a href="http://www.interfax-russia.ru/South/news.asp?id=346340&sec=1679">Интерфакс - МТС и ростовский "Градиент" планируют производить телемедицинские браслеты для дистанционного контроля за здоровьем</a></li>
				</ul>

<h2>Сюжеты</h2>
				<ul>
				<li><a href="http://youtu.be/kAv5P_wHJbE">Представление проекта на бизнес-классе телекоммуникаций</a></li>
				<li><a href="http://youtu.be/FMjHks3Zcw8">Репортаж Россия 1</a></li>
				<li><a href="http://youtu.be/jwe_3lts0j8">Репортаж НТВ</a></li>
				<li><a href="http://youtu.be/uyH0yuMqkjM">Репортаж ДонТР</a></li>
				</ul>
			
<h2>Прочие материалы</h2>
				<ul>
				<li><a href="http://www.slideshare.net/ideashunter/open-source-15649962">Презентация директора ООО "НПП Тест" на бизнес-классе телекоммуникаций 20.09.2012</a></li>
				<li><a href="http://prezi.com/u30gewquwpsg/presentation/?kw=view-u30gewquwpsg&rc=ref-2018554">Презентация со "Страртапа года"</a></li>
				</ul>
				
{% endblock %}